 {% load static %}
 <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 
 <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

 <!-- Template Main JS File -->
 <script src="{% static 'assets/js/main.js' %}"></script>


 <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>

 <script src="{% static 'assets/vendor/a/owl-carousel/js/owl.carousel.min.js' %}"></script>

 <script src="{% static 'assets/vendor/a/wow/wow.min.js' %}"></script>
 
<script src="{% static 'assets/vendor/a/fancybox/js/jquery.fancybox.min.js' %}"></script>

<script src="{% static 'assets/vendor/a/isotope/isotope.pkgd.min.js' %}"></script>

<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
